<h1><%= @article.title %></h1>
<br>
<p><%= @article.text %></p>
<br>

<style>
  .colortext {
    color: blue; /* Красный цвет выделения */
  }
</style>
<h3>Comments</h3>
<%  @article.comments.each do |com| %>
  <p >
<i><span class="colortext"><b> <%= com.autor %></b></span> said:  </i><br>
  <%= com.body %>
  </p>


  <% end %>
<br>
<!--<p> you can use the build method to add a record into a has_many relationship before either record has been saved.</p>-->
  <h3>Add comments</h3>
<%= form_for([@article, @article.comments.build])  do |f| %>
  <p>
    <%= f.label :autor %><br/>
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>

    <%= f.submit %>
  </p>
<% end %>