<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= current_user.inspect %> <%= link_to 'Sign out!', destroy_user_session_path, method: :delete %><br>
    <% else %>
      <%= link_to 'Sign in!', new_user_session_path %>
    <% end %>
    <!--<a href="/users/sign_in">Sign In</a> | <a href="/users/sign_out" data-method="delete" >Sign out</a>-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
