<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="visible-xs-block">
      Devise is extra small
    </div>
    <div class="visible-sm-block">
      Devise is small
    </div>

    <div class="visible-md-block">
      Devise is medium
    </div>

      <div class="container-fluid">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to 'Blog', home_index_path, class: "navbar-brand " %>
            </div>
            <ul class="nav navbar-nav" >
              <!--<li class="active"><a href="#">Home</a></li>-->

              <li><%= link_to 'New', articles_path %></li>
              <li><%= link_to 'Articles', show_articles_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><a href="#"><%="Hello  #{current_user.username.capitalize} " %></a></li>
              <li> <%= link_to 'Sign out?', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li> <%= link_to 'Sign in! ', new_user_session_path %></li>
                <li><%= link_to 'Sign up!', new_user_registration_path %></li>
              <% end %>

            </ul>
          </div>
        </nav>


        <!--<nav class="navbar navbar-default" role="navigation">-->
        <!--<div class="navbar-header">-->


        <!--<div class="row">-->
          <!--<div class="col-md-6 col-sm-4 col-xs-4">-->
            <!--<ul>-->
              <!--<li>contact1</li>-->
              <!--<li>contact2</li>-->
              <!--<li>contact3</li>-->
              <!--<li>contact4</li>-->
              <!--<li>contact5</li>-->
              <!--<li>contact6</li>-->
            <!--</ul>-->
          <!--</div>-->


          <!--<div class="col-md-6 col-sm-8 col-xs-8">-->
            <!--<ul>-->
              <!--<li>message1</li>-->
              <!--<li>message2</li>-->
              <!--<li>message3</li>-->
              <!--<li>message4</li>-->
              <!--<li>message5</li>-->
              <!--<li>message6</li>-->
            <!--</ul>-->
          <!--</div>-->





    <!--<a href="/users/sign_in">Sign In</a> | <a href="/users/sign_out" data-method="delete" >Sign out</a>-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
      </div>

  </body>
</html>
